@font-face {
    font-family: gizFont;
/*    src: url(DK_Crayon_Crumble.ttf);*/
    src: url(fonts/whatever\ it\ takes\ bold.ttf);
}

button{
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 10%;

    padding: 0.5vmin;
    text-decoration: none;

/*
    border: solid #000000 0.2vmin;           
    box-shadow: inset 0 0 2vmin rgba(0,0,0,0.3), 0 0 2vmin rgba(0,0,0,0.5);
        
*/
    border: solid rgba(50,50,50,1) 0.2vmin;
    box-shadow: inset 0 0 1vmin rgba(0,0,0,0.2), 0 0 1vmin rgba(0,0,0,0.3);

    
}


html,body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background: url(images/wood-wallpaper-hd-15.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: gizFont;
}

textarea{
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    
    
    padding: 0.5vmin;
    border: solid #000000 0.2vmin;
}

.topDiv {
    height: 20vh;
    width: 100vw;
    position: relative;
    display: inline-flex;
    
}

.bottom {
    height: 80vh;
    width: 100vw;
    display:flex;
}


.botLeft {
    width: 28%;
    height: 100%;
    display: flex;
    font-family: gizFont;
    color: white;
    font-size: large;

    background: url(images/Ardosia.png) no-repeat;
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0, 1));
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 1));
}



.botMiddle {
    width: 44%;
    height: 100%;

}

.botRight {
    width: 28%;
    height: 100%;
    position:relative;
}

.buttons {
    height: 25%;
    width: 100%;
    display: flex;
    position:relative;

}

.blocoNotas {
    height: 70%;
    width: auto;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left:3%;
    padding-right:0%;
    padding-bottom: 1%;
    
    overflow: hidden;
    position: relative;

    background-image: url("images/miguelBloco4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    border-radius: 10px;

    box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
}


.centerBlocoNotas {
    height: 70%;

    overflow: auto;
    margin-right:3%;
    border-top:1px solid black;
    padding-bottom: 0.3vh;
}

.centerBlocoNotasOpinioes{
    
    height: 85%;

    overflow: auto;
    margin-right:3%;
    border-top:1px solid black;
    padding-bottom: 1vh;
}

.buttonsBlocoNotas {
    height: 15%;
    position: relative;
    display: flex;
    padding-top:2%;
    padding-bottom:2%;
    position: relative;
}




.nome {
    width: 100%;
    height: 10%;
    text-align: center;
}

.prato {
    max-height: 100%;
    max-width: 100%;
    height: 73vh;
    width: 73vh;
    margin: auto;
    background: url(images/plate.png);
    background-size: 100% 100%;
    display: inline-block;
    
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0, 1));
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 1));
}


.carta {
/*    margin-top: 12%;*/
/*    margin-left: 15%;*/
    padding: 13%;
    padding-left: 15%;
    padding-top: 7vh;
    width: 100%;    
    height: 100%;

}

.titulo {
    font-size: 9vmin;
    padding-top: 3%;
}

.infoCarta {
    font-size: 100%;
    padding-bottom: 5%;
}

#plus {
    color: white;
}

#tabelaCarta {
    width: 100%;
    overflow:auto;
    height: 80%;
}

.menu_entry {
    padding: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    height: 5vh; 
    display:flex;
}

.collapse .in .collapsing {
    font-size: 5%;
}

::-webkit-scrollbar {
    width: 7px;
}

 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 10px 6px 6px rgba(255,255,255,0.5); 
}

head {
    align-content: center;
}


#Pratos_Principais {
    padding-bottom: 5%;
    font-size: 130%;
}








#ingBurguellet {
    padding-left: 20%;
}

#ingBitoque {
    padding-left: 20%;
}

#ingEsparguete {
    padding-left: 20%;
}

#ingCola {
    padding-left: 20%;
}




.pratoEntry {
    width: 60%;
}









.contaUserBox {
    display: flex;
    width: 100%;
    
    flex-wrap: nowrap;
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;

    margin-top: 1vh;
    margin-bottom: 5vh;
}

.pedidosDoUser {
    flex-basis:80%;
    display: inline;
    margin: none;
}



td.tableSelectButton{
    font-size: 120%;
    padding: 1%;
    width: 40%;
    margin-bottom: 5%;
} 

#tabContaPersonalizada {
    border-right: 1px solid black;
}

#tabContaDividida {
    border-bottom: 1px solid black;
}


.supportButtons {
    height:100%;
    width:25%;
    padding-left: 0.5vw;
    position:relative;
    display:inline-flex;
    position:relative;
}

.circleButtons {
    align-self: center;
    text-align: center;
    
    
    border-radius: 100%;
    padding:1vmin;
    height: 13vmin;
    width: 13vmin;
    
    margin:1.1vw;
    background :rgba(255, 255, 255, 0.1);
    
    border: #000 solid 2px;

    display: inline-block;
}

.mainButtons {
    display:inline-flex;
    height: 100%;
    width: 100%;
    position:relative;
    

}

.imageButtons {
    max-width:100%;
    max-height:100%;
    padding: 1%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.wrapperSupportButtons {
    width: 100%;
    height: 100%;
    align-self: center;
    position: relative;
    display:inline-block;
}

.imageHelpButtons {
    max-width:100%;
    max-height:100%;
    margin-left: auto;
	margin-right: auto;
	display: table;
}

.circleHelpButtons {
    max-width: 15%;
    margin:2%;
    
    border-radius: 100%;
    background :rgba(255, 255, 255, 0.1);
    position: relative;
    
    text-align: center;
 
    border: #000 solid 2px;

    
    padding: 1.7vmin;
    height: 10vmin;
    width: 10vmin;
    margin-top: 2vmin;
    display: block;
    
    
}

#topLogo {
    margin:auto;
    display: block;
    padding-top:5px;
    max-height: 80%;
    max-width: 100%;
}

.imgLogoDiv {
    position:relative;
    height: 100%;
    width: 85%;
    display: inline-block;
}



.BlocoNotasHeader {
    height:15%;
    text-align: center;
    padding-top: 1vh;
}

.blocoNotasButton {
    margin: auto;
}

.interiorBlocoCenter {
    height: 100%;
    width: 100%;
    padding: 5%;
    overflow: auto;
}



.tabSelectButton {
    /*height:20%;*/
}

.buttonsVerticalBlocoNotas {
    height: 100%;
    width:60%;
    display: inline-flex;
    font-size: 100%;
}


.tabelaContaBox {
    border-collapse: separate;
    border-left: 2px solid black;
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
    width:100%;
}

#tabelaPedidos {
 width : 100%;
    margin-top: 2vmin;
}
#tabelaPedidos tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
    width:100%;
}

.tabelaConta{
    padding: 3%;
    width:40%;
    text-align: left;
    padding-left:10%; 
}
.tabelaContaSmall{
    padding: 1%;
    width:10%;
    text-align: center;
    
}

.contaUserName {
    display: block;
   flex-basis: 20%;
    padding: 3%;
}

#empregadoImg {
    background: none;
    border:none;
}



.existingReview {
    border:1px solid black;
    padding:5%;
    margin-top:10%;
}



.writeReview {
    padding-top: 5%;

}



.textInput {
    text-align: center;
    margin:none;
    width:100%;
}

.submitArea {
    padding-right: 5%;
    display: inline-flex;
    width: 100%;
}

.reviewUserName {
    font-size: 110%;
    text-decoration: underline black;
}





.starsRateDiv {
    width: 100%;
    display: flex;
    padding-top:2vmin;
    padding-bottom:2vmin;
    justify-content: center;
}



.tituloPequeno {
    font-size:5vmin;
}

.precoEntry {
    width: 20%;
}

.botaoEntry {
    font-size: 80%;
}

.entryCell {
    display:inline-block;
}


.Pratos_Principais {
    padding-top:2vh;
}

#intComidas {
    width: 100%;
}

.pratoWrapper {
    width: 100%;
    height: 89%;
    display: inline-flex;
    border: none;
    margin: none;
}

.textoNormal {
    font-size: 3vh;
}

#inputReviewText {
    width:100%;
    margin: none;
}

.submitButtonDiv {
    width: 25%;
    padding:2%;
    display: inline-block;
}

.emptyLeft {
    width: 75%;
    display:block;
    text-align: center;
}

#pricePlacePersonalizado {
    font-weight: bold;
}



.textSideDiv {
    width: 50%;
    display:inline-block;
    text-align: center;
    vertical-align: center;
}

.buttonSideDiv {
    display: inline-flex;
    padding:2%;
    width: 50%;
    height: 100%;
}

.buttonsVertical {
    display:inline-flex;
    width: 50%;
    height: 100%;
}

.helpOverlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
}

.boxDoMiguel {
    border: 1px solid black;
    padding: 2vmin;
    width: 100%;
}

#orderConfirmedDiv {
    width:100%;
}

#helpBlocoDeNotasPedido {
    width:100%;
}

#1Star {
        margin: auto;
}

#2Star {
    margin: auto;

}
#3Star {
    margin: auto;

}
#4Star {
    margin: auto;

}
#5Star {
    margin: auto;

}

.priceTag {
    font-size: 4.5vmin;
}

.helpPedidos {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url(images/helpTest.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#helpDiv {
    display:none;
}

.reviewUserText {
    padding-top: 3%;
}
.paddingLeftIng {
    padding-left: 20%;
}

.pratoMenu {
    padding-left: 15%;
}
