html{
   background: url(city.jpg) no-repeat center center fixed !important;
   background-size: 100% 100% !important;
}

body{
    padding: 0 !important;
    margin: 0 !important;
}

h1{
    color: lightgreen !important;
    text-align: center !important;
}

h2{
    color: lightgrey !important;
    text-align: center !important;
}

#pageTopDiv{
    padding-top: 4% !important;
}

table.Alunos, table.Alunos th, table.Alunos td {
    
    border: 1px solid black !important;
}


#tableAlunos{
    
    text-align: center !important;
    width: 33% !important;
    margin: 0 auto !important;
    
}

table.Menus td{
    width: 30%;
}


/* Position for the Menu button */
#Menu{
    
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    font-size: 20px !important;
    position: fixed;
    right: 3%;
    top: 4%;
}


/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}




/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




/* Style and color for the menu links */
#link_at a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#link_mc a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#link_proto a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#link_au a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#close a{
    color: #818181 !important;
}






/* Style and color for the menu sub-links */
#at_inner a{
    padding: 8px 30px 8px 50px;
    font-size: 15px !important;
    color: #818181 !important;
    text-decoration: none !important;
}

#mc_inner a{
    padding: 8px 30px 8px 50px;
    font-size: 15px !important;
    color: #818181 !important;
    text-decoration: none !important;
}

#proto_inner a{
    padding: 8px 30px 8px 50px;
    font-size: 15px !important;
    color: #818181 !important;
    text-decoration: none !important;
}

#au_inner a{
    padding: 8px 30px 8px 50px;
    font-size: 15px !important;
    color: #818181 !important;
    text-decoration: none !important;
}






/* When you mouse over the navigation links, change their color */
#link_at a:hover, .offcanvas a:focus{
    color: #f1f1f1;

}

#link_mc a:hover, .offcanvas a:focus{
    color: #f1f1f1;

}

#link_proto a:hover, .offcanvas a:focus{
    color: #f1f1f1;

}

#link_au a:hover, .offcanvas a:focus{
    color: #f1f1f1;

}

#close a:hover, .offcanvas a:focus{
    color: #f1f1f1 !important;

}

#Menu span:hover, .offcanvas span:focus{
    color: #f1f1f1;

}
