html{
   background-color: rgb(10, 148, 180);
}

body{
    padding: 0;
    margin: 0;
}

h1{
    color: lightgreen;
}

h2{
    color: lightgrey;
}


table.Alunos, table.Alunos th, table.Alunos td {
    
    border: 1px solid black;
}


#tableAlunos{
    
    text-align: center;
    width: 33%;
    margin: 0 auto;
    
}

table.Menus td{
    width: 30%;
}

#Menus{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 250%;
    padding-right: 3%;
    text-align: center;
}



#links{
    text-align: left;
    padding-left: 10%;
    
}



